.title {
    margin:30px;
   
}

.App {
    margin:30px;
   
}

.page-container{
    position: relative;
  min-height: 100vh;
  padding-bottom: 200px;
  padding-top: 70px;
}
.cart-title {
    padding-left: 120px;
    padding-right: 120px;
    margin-top: 15px;
  }

.cart-subtitle{
    font-size: 26px;
}

